{% extends 'Planteer/base.html' %}
{% block content %}

<div class="container mt-5">

  <h1 class="mb-4">Contact Us</h1>

  {% if request.GET.sent %}
    <p class="text-success">Message sent </p>
  {% endif %}

  <form method="POST">
    {% csrf_token %}

    <div class="row">
      <div class="col-md-6 mb-3">
        <input type="text" name="first_name" class="form-control" placeholder="First name">
      </div>

      <div class="col-md-6 mb-3">
        <input type="text" name="last_name" class="form-control" placeholder="Last name">
      </div>
    </div>

    <input type="email" name="email" class="form-control mb-3" placeholder="Email">

    <textarea name="message" class="form-control mb-3" rows="5" placeholder="Message"></textarea>

    <button type="submit" class="btn btn-main w-100">
  Send Message
</button>

  </form>

</div>

{% endblock %}